<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasicsWithCompose"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidBasicsWithCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway2Codelab1GreetingCard"
            android:exported="false"
            android:label="@string/greeting_card">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Codelab1HappyBirthday"
            android:exported="false"
            android:label="@string/happy_birthday">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Codelab2HappyBirthday"
            android:exported="false"
            android:label="@string/happy_birthday">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Practice1Article"
            android:exported="false"
            android:label="@string/article">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Practice2TasksCompleted"
            android:exported="false"
            android:label="@string/tasks_completed">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Practice3Quadrants"
            android:exported="false"
            android:label="@string/quadrants">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit1Pathway3Project1BusinessCard"
            android:exported="false"
            android:label="@string/quadrants">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit2Pathway2Codelab1DiceRoller"
            android:exported="false"
            android:label="@string/dice_roller">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit2Pathway2Practice1Lemonade"
            android:exported="false"
            android:label="@string/lemonade">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".demo.Unit2Pathway3Codelab1TipTime"
            android:exported="false"
            android:label="@string/tip_time">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>
